/* car */
@keyframes drive {
  0% {
    fill: #000 !important;;
  }
  20% {
    fill: #010101 !important;;
  }
  40% {
    fill: #000 !important;;
  }
  60% {
    fill: #010101 !important;;
  }
  80% {
    fill: #000 !important;;
  }
  100% {
    fill: #010101 !important;;
  }
}

/* _____________________________________ */

/* h2 */
@keyframes text {
  0% {
    opacity: 1;
    position: absolute;
    z-index: 999;
    content: 'Loading.';
    left: 0;
    right: 0;
  }

  20% {
    opacity: 1;
    position: absolute;
    z-index: 999;
    content: 'Loading..';
    left: 0;
    right: 0;
  }

  40% {
    opacity: 1;
    position: absolute;
    z-index: 999;
    content: 'Loading...';
    left: 0;
    right: 0;
  }

  60% {
    opacity: 1;
    position: absolute;
    z-index: 999;
    content: 'Loading....';
    left: 0;
    right: 0;
  }


  80% {
    opacity: 1;
    position: absolute;
    z-index: 999;
    content: 'Ready';
    left: 0;
    right: 0;
  }

  100% {
    opacity: 0;
    position: absolute;
    z-index: -2;
    content: 'Ready';
    left: 0;
    right: 0;
  }
}

/* _____________________________________ */


/* _____________________________________ */

/* circle shadow */
@keyframes sunset {
  0% {
    box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);
  }

  10% {
    box-shadow: 0px 0px 78px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(1deg);
  }

  20% {
    box-shadow: 0px 0px 120px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);

  }

  30% {
    box-shadow: 0px 0px 90px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(1deg);
  }

  40% {
    box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);
  }
  50% {
    box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);
  }

  60% {
    box-shadow: 0px 0px 78px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(1deg);
  }

  70% {
    box-shadow: 0px 0px 120px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);

  }

  80% {
    box-shadow: 0px 0px 90px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(1deg);
  }

  90% {
    box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);
  }
  100% {
    box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.73);
    transform: rotateZ(0deg);
  }
}

/* _____________________________________ */

/* musicbars */
@keyframes musicbar1 {
  0% {
    height: 300px;
  }

  50% {
    height: 650px;
  }

  100% {
    height: 300px;
  }
}

@keyframes musicbar2 {
  0% {
    height: 400px;
  }

  25% {
    height: 650px;
  }

  50% {
    height: 300px;
  }

  75% {
    height: 450px;
  }

  100% {
    height: 400px;
  }
}

@keyframes musicbar3 {
  0% {
    height: 450px;
  }

  20% {
    height: 650px;
  }

  40% {
    height: 500px;
  }

  60% {
    height: 650px;
  }

  80% {
    height: 500px;
  }

  100% {
    height: 350px;
  }
}

@keyframes musicbar4 {
  0% {
    height: 300px;
  }

  25% {
    height: 450px;
  }

  50% {
    height: 300px;
  }

  75% {
    height: 550px;
  }

  100% {
    height: 300px;
  }
}

@keyframes musicbar5 {
  0% {
    height: 300px;
  }

  50% {
    height: 450px;
  }

  100% {
    height: 300px;
  }

}

@keyframes musicbar6 {
  0% {
    height: 320px;
  }

  25% {
    height: 450px;
  }

  50% {
    height: 320px;
  }

  75% {
    height: 600px;
  }

  100% {
    height: 320px;
  }

}

@keyframes musicbar7 {
  0% {
    height: 300px;
  }

  50% {
    height: 450px;
  }

  100% {
    height: 300px;
  }

}

@keyframes musicbar8 {
  0% {
    height: 300px;
  }

  12.5% {
    height: 350px;
  }

  25% {
    height: 300px;
  }

  37.5% {
    height: 450px;
  }

  50% {
    height: 300px;
  }

  62.5% {
    height: 400px;
  }

  75% {
    height: 300px;
  }

  87.5% {
    height: 350px;
  }

  100% {
    height: 300px;
  }

}


@keyframes musicbar9 {
  0% {
    height: 300px;
  }

  75% {
    height: 400px;
  }

  100% {
    height: 300px;
  }
}

@keyframes musicbar10 {
  0% {
    height: 300px;
  }

  25% {
    height: 350px;
  }

  50% {
    height: 300px;
  }

  75% {
    height: 350px;
  }

  100% {
    height: 300px;
  }
}

/* _________________________________________ */


/* grid */
@keyframes grid {
  100% {
    background-position-y: 250px;
  }
}
/* car */
@keyframes blur {
  0% {
    filter: blur(5em);
  }
  50% {
    filter: blur(10em);
  }
  100% {
    filter: blur(5em);
  }
}

/* _____________________________________ */
/* skyline city */
@media (prefers-color-scheme: dark) {
  @keyframes windows {
    0% {
      fill: #FFFF61;
    }

    25% {
      fill: black;
    }

    50% {
      fill: #FFFF61;
    }

    75% {
      fill: black;
    }

    100% {
      fill: #FFFF61;
    }
  }

}