/*Fonts*/
/* http://www.hipsthetic.com/alien-encounters-free-80s-font-family/ */
/****************************/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: Streamster;
  src: url(../font/SFAlienEncounters-Italic.ttf);
}


html {
  /* z-index: -1; */
  background-image: url(../images/static.png);
  opacity: 0.95;
  animation: static .5s steps(10) infinite;
}
html {
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  overflow: hidden
}

body::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url("../images/disc.png");
  z-index: -1;
  background-size: 10%;
  background-position: center;
  transform: scale(1.5);
  background-repeat: repeat;
  animation: blur 2s linear infinite;
  filter: blur(3px);
}


body {
  margin: 0;
  /* background-color: #111111; */
  min-height: calc(100vh - 0px);
  position: relative;
  z-index: 1;
  /* width: 80%; */
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  /* background-size: 384% 400%; */
  /* animation: gradient 15s ease infinite; */
}

h2::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  transform: scale(3.5);
  z-index: -5;
  animation: text 5s ease 0s;
  opacity: 1;
}

body::before {
  background-color: #000;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: unset;
  z-index: -5;
  animation: text 5s ease 0s;
}

h2::after {
  content: '';
  animation: text 5s ease 0s;
  z-index: -5;
}

h2 {
  position: absolute;
  color: #fff;
  left: 0;
  top: 50%;
  font-family: Streamster;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 2.6em;
  z-index: -5;
  animation: text 5s ease 0s;
}

embed {
  display: none;
  opacity: 0;
  position: absolute;
}
button:active + embed   {
    display: block;
}

section:nth-of-type(1) button {
  width: 10px;
  height: 50px;
  border-radius: 0%;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
}
section:nth-of-type(1) button:active {
  background-color: rgb(182, 182, 21);

}
section:nth-of-type(1) p {
  position: relative;
  color: #fff;
  opacity: 1;
  margin-left: 15px;
  font-family: Streamster;
}


section:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
}


ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
}

section {
  padding: 15px;
  /* max-width: 1170px; */
  /* margin: 0 auto; */
}

/****************************/
/* Headings font en kleur */

main {
  max-width: 50em;
  margin-bottom: 5em;
  background-color: unset;
  margin: 0 auto;
}

section:nth-of-type(2) #circle {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  color: transparent;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(17deg, #FF82F9, #FF82F9, #FF82F9, #FF82F9,  #FF82F9,  #AA94B1, #fff, #AA94B1, #FF82F9, #FF82F9, #FF82F9, #FFFF, #FFFF);
  animation: sunset 2s linear infinite;
}


section:nth-of-type(4) {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  right: 0px;
  /* width: 80em; */
  margin: auto;
}

section:nth-of-type(4) ul {
  text-decoration: none;
  margin: 0 15px;
  list-style: none;
  padding: 0px;
  display: flex;
  transform: rotate(180deg);
}

section:nth-of-type(4) li {
  width: 27px;
  height: 520px;
  margin: 0 1px;
}

section:nth-of-type(4) div:first-child {
  transform: translateX(-50%) perspective(8em) rotatey(31deg);
  position: absolute;
  left: 26%;
}

section:nth-of-type(4) div:first-child li:first-child,
section:nth-of-type(4) div:last-child li:first-child {
  background-color: #E50AE7;
  animation: musicbar1 2s linear infinite;
  height: 150px;
}



section:nth-of-type(4) div:first-child li:nth-child(2),
section:nth-of-type(4) div:last-child li:nth-child(2) {
  background-color: #CC0AE4;
  height: 150px;
  animation: musicbar2 2s linear infinite;
}



section:nth-of-type(4) div:first-child li:nth-child(3),
section:nth-of-type(4) div:last-child li:nth-child(3) {
  background-color: #BE0AE3;
  height: 150px;
  animation: musicbar3 2s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(4),
section:nth-of-type(4) div:last-child li:nth-child(4) {
  background-color: #AA0AE1;
  height: 150px;
  animation: musicbar4 2s linear infinite;
}


section:nth-of-type(4) div:first-child li:nth-child(5),
section:nth-of-type(4) div:last-child li:nth-child(5) {
  background-color: #940BDF;
  height: 150px;
  animation: musicbar5 2s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(6),
section:nth-of-type(4) div:last-child li:nth-child(6) {
  background-color: #7E0BDD;
  height: 150px;
  animation: musicbar6 2s linear infinite;
}



section:nth-of-type(4) div:first-child li:nth-child(7),
section:nth-of-type(4) div:last-child li:nth-child(7) {
  background-color: #660CDB;
  height: 150px;
  animation: musicbar7 2s linear infinite;
}



section:nth-of-type(4) div:first-child li:nth-child(8),
section:nth-of-type(4) div:last-child li:nth-child(8) {
  background-color: rgb(96, 33, 213);
  height: 150px;
  animation: musicbar8 2s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(9),
section:nth-of-type(4) div:last-child li:nth-child(9) {
  background-color: rgb(88, 8, 236);
  height: 150px;
  animation: musicbar9 2s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(10),
section:nth-of-type(4) div:last-child li:nth-child(10) {
  background-color: #4D0CD8;
  height: 150px;
  animation: musicbar10 2s linear infinite;

}


section:nth-of-type(4) div:first-child li:last-child,
section:nth-of-type(4) div:last-child li:last-child {
  background-color: transparent;

}

section:nth-of-type(4) div:last-child {
  transform: translateX(50%) perspective(130px) rotatey(-31deg);
  position: absolute;
  right: 26%;
}

section:nth-of-type(4) div:last-child ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

section:nth-of-type(5) {
  z-index: 1;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 280px);
}

section:nth-of-type(5)::after {
  background-image: linear-gradient(90deg, #380CD6, #E50AE7, #380CD6);
  filter: brightness(1);
  max-width: 56%;
  overflow-x: hidden;
  padding: 0;
  transform: perspective(180px) rotatex(20deg);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
}

section:nth-of-type(5)::before {
  background-size: 200px;
  background-image: url(../images/grid.svg);
  filter: brightness(0.7);
  max-width: 56%;
  overflow: hidden;
  padding: 0;
  transform: perspective(180px) rotatex(20deg);
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  animation: grid 2s linear infinite;
  margin: 0 auto;
}

section:nth-of-type(5) .controls > img {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
 
  transition: 4s ease 0s;

  width: 20%;

}

svg {
  position: absolute;
  width: 35em;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 226px;
  /* height: 305px; */
  bottom: 0;
}
section:nth-of-type(5) .controls input:nth-of-type(1):focus ~ label:nth-of-type(1), 
section:nth-of-type(5) .controls input:nth-of-type(2):focus ~ label:nth-of-type(2),
section:nth-of-type(5) .controls input:nth-of-type(3):focus ~ label:nth-of-type(3){
    bottom: -5px;
    border-bottom: 3px solid #000;
    height: 47px;
}
section:nth-of-type(5) .controls label {
    position: relative;
    border-bottom: 5px solid #000;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 50px;
}

section:nth-of-type(5) .controls label:nth-of-type(1)::after{
  background-image: url("images/left-controller.svg");
}
section:nth-of-type(5) .controls input:nth-of-type(1):focus~img {
  left: 35%;
  transform: translateX(-65%);
}

section:nth-of-type(5) .controls input:nth-of-type(2):focus~img {
  left: 50%;
  transform: translateX(-50%);
}

section:nth-of-type(5) .controls input:nth-of-type(3):focus~img {
  left: 65%;
  transform: translateX(-35%);
}

section:nth-of-type(5) .controls button:active~img,
section:nth-of-type(5) .controls button:hover~img {
  padding-bottom: 330px;
  width: 4%;
  transition: 2s cubic-bezier(.64,-0.67,1,.75) 0s;
}

section:nth-of-type(5) .controls button:nth-of-type(2):hover {
  background-color: #a50101;
}

section:nth-of-type(5) .controls button:nth-of-type(2) {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  top: 5px;
  position: relative;
  background-color: red;
  border-color: #000;
  right: -10px;
  cursor: move;
  cursor: grab;
  
}
section:nth-of-type(5) .controls button:first-child {
  opacity: 0;
}
section:nth-of-type(5) .controls {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999;
  color: #fff;
}

input[type="radio"i] {
  width: 0px;
  height: 0px;
}

section:nth-of-type(5) .controls label img {
  width: 45px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    background-image: linear-gradient(31deg, #111111, #fff, #5517D9 , #111111, #111111, #fff, #111113, #5517D9, #5517D9 ,#111111 ,#111111 ,#111111);
    background-size: contain;
    background-blend-mode: soft-light;
    animation: nebula 2s linear infinite;
  }



  .fil0 {
    fill: black;
  }

  .fil3 {
    fill: #FFFF61;
    animation: windows 2s linear infinite;
  }

  .fil4 {
    fill: #FFFF61;
    animation: windows 3s linear infinite;
  }

  .fil6 {
    fill: #FFFF61;
    animation: windows 4s linear infinite;
  }

  .fil2 {
    fill: #FFFF61;
    animation: windows 5s linear infinite;
  }

  .fil5 {
    fill: #FFFF61;
    animation: windows 2s linear infinite;
  }

  .fil1 {
    fill: #FFFF61;
    animation: windows 2s linear infinite;
  }


}

@media (prefers-color-scheme: light) {

  body {
    background-image: linear-gradient(0deg, #01A6B9, #01A6B9);
    animation: none;
  }

  #circle {
    background-image: linear-gradient(0deg, #F7F342, #fbb74c, #F5793B, #F76F57, #FD3C48) !important;
  }

  .fil0 {
    fill: #E50AE7
  }

  .fil3 {
    fill: black
  }

  .fil4 {
    fill: black
  }

  .fil6 {
    fill: black
  }

  .fil2 {
    fill: black
  }

  .fil5 {
    fill: black
  }

  .fil1 {
    fill: black
  }
}

/* calc 10vmax + 3vw + 2em */

@media (prefers-reduced-motion: reduce) {
  section:nth-of-type(2) #circle {
    animation:sunset 0s linear infinite;
  }
}