/*Fonts*/
/* http://www.hipsthetic.com/alien-encounters-free-80s-font-family/ */
/****************************/
/* fonts */
@font-face {
  font-family: Streamster;
  src: url(../font/SFAlienEncounters-Italic.ttf);
}

/* General */
* {
  box-sizing: border-box;
}


ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
}

section {
  padding: 15px;
}

main {
  max-width: 50em;
  margin-bottom: 5em;
  background-color: unset;
  margin: 0 auto;
}

section:nth-of-type(3) svg {
  position: fixed;
  width: 38%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20.7em;
  bottom: 20em;
  height: 18%;
  z-index: 1;
}
/* loading state */
html {
  /* background-image: url(../images/static.png); */
  opacity: 0.95;
  /* animation: static .5s steps(10) infinite; */
  width:calc(100vw);
  height:calc(100vw);
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
h2 {
  position: absolute;
  color: #fff;
  left: 0;
  top: 50%;
  font-family: Streamster;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 2.6em;
  z-index: -5;
  animation: text 5s ease 0s;
}


h2::after {
  content: '';
  animation: text 5s ease 0s;
  z-index: -5;
}

/* ------------------------------- */

/* Star bg */

body {
  margin: 0;
  min-height: calc(100vh - 0px);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
body::before {
  background-color: #000;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: unset;
  z-index: -5;
  animation: text 5s ease 0s;
}

body::after {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(75deg, red, transparent);
    position: absolute;
    z-index: -1;
}



/* ------------------------------- */

/* Music Section 1 */

embed {
  display: none;
  opacity: 0;
  position: absolute;
}
button:active + embed   {
    display: block;
    cursor: grab;	
}

section:nth-of-type(1) button {
  width: 10px;
  height: 50px;
  border-radius: 0%;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
  cursor: url('../images/coin.png'), auto;	
}
section:nth-of-type(1) button:active {
  background-color: rgb(182, 182, 21);

}
section:nth-of-type(1) p {
  position: relative;
  color: #fff;
  opacity: 1;
  margin-left: 15px;
  font-family: Streamster;
}


section:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
}

/* ------------------------------- */

/* Section 2  circle*/

section:nth-of-type(2) #circle {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  color: transparent;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(17deg, #FF82F9, #FF82F9, #FF82F9, #FF82F9,  #FF82F9,  #AA94B1, #fff, #AA94B1, #FF82F9, #FF82F9, #FF82F9, #FFFF, #FFFF);
  animation: sunset 2s linear infinite;
  transition: 0.7s ease 0s;
}

/* ------------------------------- */

/* Section soundwave*/
section:nth-of-type(4) {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  right: 0px;
  margin: auto;
}

section:nth-of-type(4) ul {
  text-decoration: none;
  margin: 0 15px;
  list-style: none;
  padding: 0px;
  display: flex;
  transform: rotate(180deg);
  position: relative;
  top: 170px;
  /* width: 100%; */
  /* margin: 0 auto; */
}

section:nth-of-type(4) li {
  width: 27px;
  height: 520px;
  margin: 0 1px;
}
/* Soundbars */
section:nth-of-type(4) div:first-child {
  transform: translateX(-50%) perspective(110px) rotatey(31deg);
  position: absolute;
  left: 26%;
}

section:nth-of-type(4) div:last-child {
  transform: translateX(50%) perspective(130px) rotatey(-31deg);
  position: absolute;
  right: 26%;
}

section:nth-of-type(4) div:last-child ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}
section:nth-of-type(4) div:first-child li:first-child,
section:nth-of-type(4) div:last-child li:first-child {
  background-color: #E50AE7;
  animation: musicbar1 5s linear infinite;
  height: 210px;
}

section:nth-of-type(4) div:first-child li:nth-child(2),
section:nth-of-type(4) div:last-child li:nth-child(2) {
  background-color: #CC0AE4;
  height: 150px;
  animation: musicbar2 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(3),
section:nth-of-type(4) div:last-child li:nth-child(3) {
  background-color: #BE0AE3;
  height: 150px;
  animation: musicbar3 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(4),
section:nth-of-type(4) div:last-child li:nth-child(4) {
  background-color: #AA0AE1;
  height: 150px;
  animation: musicbar4 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(5),
section:nth-of-type(4) div:last-child li:nth-child(5) {
  background-color: #940BDF;
  height: 150px;
  animation: musicbar5 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(6),
section:nth-of-type(4) div:last-child li:nth-child(6) {
  background-color: #7E0BDD;
  height: 150px;
  animation: musicbar6 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(7),
section:nth-of-type(4) div:last-child li:nth-child(7) {
  background-color: #660CDB;
  height: 150px;
  animation: musicbar7 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(8),
section:nth-of-type(4) div:last-child li:nth-child(8) {
  background-color: rgb(96, 33, 213);
  height: 150px;
  animation: musicbar8 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(9),
section:nth-of-type(4) div:last-child li:nth-child(9) {
  background-color: rgb(88, 8, 236);
  height: 150px;
  animation: musicbar9 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:nth-child(10),
section:nth-of-type(4) div:last-child li:nth-child(10) {
  background-color: #4D0CD8;
  height: 150px;
  animation: musicbar10 5s linear infinite;
}

section:nth-of-type(4) div:first-child li:last-child,
section:nth-of-type(4) div:last-child li:last-child {
  background-color: transparent;
}
/* ------------------------------- */

/* section 5 ground*/
section:nth-of-type(5) {
  z-index: 1;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 280px);
}
/* grid bg*/
section:nth-of-type(5)::after {
  background-image: linear-gradient(90deg, #380CD6, #E50AE7, #380CD6);
  filter: brightness(1);
  max-width: 56%;
  overflow-x: hidden;
  padding: 0;
  transform: perspective(180px) rotatex(20deg);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
}
/* ------------------------------- */
/* grid layout*/
section:nth-of-type(5)::before {
  background-size: 200px;
  background-image: url(../images/grid.svg);
  filter: brightness(0.7);
  max-width: 56%;
  overflow: hidden;
  padding: 0;
  transform: perspective(180px) rotatex(20deg);
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  animation: grid 2s linear infinite;
  margin: 0 auto;
}
/* ------------------------------- */
/* car*/
section:nth-of-type(5) .controls > svg {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 4s ease 0s;
  width: 20%;
  top: unset;
  right: unset;
  
}
.cls-2, .cls-3, .cls-4 {
  fill: #696969 !important;
  animation: drive 2s linear infinite;
}
/* ------------------------------- */

/* controls*/
section:nth-of-type(5) .controls input:nth-of-type(1):focus ~ label:nth-of-type(1),
section:nth-of-type(5) .controls input:nth-of-type(2):focus ~ label:nth-of-type(2),
section:nth-of-type(5) .controls input:nth-of-type(3):focus ~ label:nth-of-type(3){
    bottom: -5px;
    border-bottom: 3px solid #000;
    height: 47px;
}
section:nth-of-type(5) .controls label {
    position: relative;
    border-bottom: 5px solid #000;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 50px;
}

section:nth-of-type(5) .controls label:nth-of-type(1)::after{
  background-image: url("images/left-controller.svg");
}
section:nth-of-type(5) .controls input:nth-of-type(1):focus~svg {
  left: 35%;
  transform: translateX(-65%);
}

section:nth-of-type(5) .controls input:nth-of-type(2):focus~svg {
  left: 50%;
  transform: translateX(-50%);
}

section:nth-of-type(5) .controls input:nth-of-type(3):focus~svg {
  left: 65%;
  transform: translateX(-35%);
}

section:nth-of-type(5) .controls button:active~svg,
section:nth-of-type(5) .controls button:hover~svg {
  padding-bottom: 400px;
  width: 0%;
  transition: 2s cubic-bezier(.64,-0.67,1,.75) 0s;
}

section:nth-of-type(5) .controls button:nth-of-type(2):hover {
  background-color: #a50101;
}

section:nth-of-type(5) .controls button:nth-of-type(2) {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  top: 5px;
  position: relative;
  background-color: red;
  border-color: #000;
  right: -10px;
  cursor: move;
  cursor: grab;

}
section:nth-of-type(5) .controls button:first-child {
  opacity: 0;
}
section:nth-of-type(5) .controls {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999;
  color: #fff;
}

input[type="radio"i] {
  width: 0px;
  height: 0px;
}

section:nth-of-type(5) .controls label img {
  width: 45px;
  cursor: grab;
}
/* ------------------------------- */

@media (prefers-color-scheme: dark) {
  body {
    background-image:url('../images/nebula.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    background-blend-mode: soft-light;
    animation: nebula 2s linear infinite;
    
  }
  section:nth-of-type(5)::after {
    background-image: linear-gradient(90deg, #380CD6, #E50AE7, #380CD6);

  }
  .fil0 {
    fill: black;
  }

  .fil3 {
    fill: #FFFF61;
    animation: windows 2s linear infinite;
  }

  .fil4 {
    fill: #FFFF61;
    animation: windows 3s linear infinite;
  }

  .fil6 {
    fill: #FFFF61;
    animation: windows 4s linear infinite;
  }

  .fil2 {
    fill: #FFFF61;
    animation: windows 5s linear infinite;
  }

  .fil5 {
    fill: #FFFF61;
    animation: windows 2s linear infinite;
  }

  .fil1 {
    fill: #FFFF61;
    animation: windows 2s linear infinite;
  }


}

@media (prefers-color-scheme: light) {

  body {
    background-image: linear-gradient(180deg, #451958, #451958, #671357, #C65F36, #C65F36, #C65F36, #C55C35, #C55C35, #C25433, #CB9033, #CB9033, #CB9033, #CB9033);

  }
  @media (prefers-color-scheme: light)
  {
  body::after {

      background-image: linear-gradient(175deg, #000, transparent, transparent);
 
      background-size: cover;
      animation: blur 2s linear infinite;
  }
  #circle {
    background-image: linear-gradient(0deg, #F7F342, #fbb74c, #F5793B, #F76F57, #FD3C48) !important;
    top: 245px;
    position: relative;
  }
  section:nth-of-type(5)::after {
    background-image: linear-gradient(90deg,  #c15c27, #6b2d0d, #F7F342,  #6b2d0d, #6b2d0d);
   
  }

  .fil0 {
    fill: grey
  }

  .fil3 {
    fill: black
  }

  .fil4 {
    fill: black
  }

  .fil6 {
    fill: black
  }

  .fil2 {
    fill: black
  }

  .fil5 {
    fill: black
  }

  .fil1 {
    fill: black
  }


  section:nth-of-type(4) div:first-child li:first-child,
  section:nth-of-type(4) div:last-child li:first-child {
    background-color: #F7F342;
    animation: musicbar1 10s linear infinite;
  }
  
  section:nth-of-type(4) div:first-child li:nth-child(2),
  section:nth-of-type(4) div:last-child li:nth-child(2) {  background-color: #d1ce3f; animation: musicbar2 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(3),
  section:nth-of-type(4) div:last-child li:nth-child(3) {background-color: #fbb74c; animation: musicbar3 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(4),
  section:nth-of-type(4) div:last-child li:nth-child(4) {background-color: #F5793B; animation: musicbar4 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(5),
  section:nth-of-type(4) div:last-child li:nth-child(5) { background-color: #F76F57; animation: musicbar5 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(6),
  section:nth-of-type(4) div:last-child li:nth-child(6) {  background-color: #FD3C48; animation: musicbar6 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(7),
  section:nth-of-type(4) div:last-child li:nth-child(7) {   background-color: #FD3C48; animation: musicbar7 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(8),
  section:nth-of-type(4) div:last-child li:nth-child(8) {  background-color: #FD3C48; animation: musicbar8 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(9),
  section:nth-of-type(4) div:last-child li:nth-child(9) {background-color: #b82c35;animation: musicbar9 10s linear infinite;}
  
  section:nth-of-type(4) div:first-child li:nth-child(10),
  section:nth-of-type(4) div:last-child li:nth-child(10) {background-color: #832027;}


}



@media (prefers-reduced-motion: reduce) {
  section:nth-of-type(2) #circle {
    animation:sunset 0s linear infinite;
  }
}
